<br>
<div class="about-us container-fluid">
    <div class="container">
    
        <div class="row natur-row no-margin w-100" style="background-color: rgb(186, 223, 211);">
            <div class="text-part col-md-6">
                <h2>About Our Charity</h2>
                <p>Food is one of the basic necessities of humans, and it stands first among all basic needs - food, shelter, and clothing. It is important as it nourishes the human body- sustaining the very existence of humans. However, with the rising population and development of this country, food wastage has risen to a new high. There are many people who wish to donate food to the needy but are unaware of how exactly they can execute that.</p>
                <p> Our application revolves around helping the needy by connecting NGOs and common people. The donors shall be able to see a plurality of options by which they can donate. The NGOs will get the details of the persons wishing to donate via our application and thus a network is established between donors, people who aid the donors in donating (NGOs) and the actual needy people to whom the donated item is sent. Our application aims to bring about transparency, clarity and swiftness in the process of donation thus aiming to mitigate prevailing issues in whatever zone it is possible for us to do so.</p>
                <button  type="button" class="btn btn-warning    btn-sm">Accept</button>
                <button  type="button" class="btn btn-danger btn-sm mx-5">Deny</button>
            </div>
            <div class="image-part col-md-6">
                <div class="about-quick-box row">
                    <img src="assets/images/users/user3.jpg" alt="">
                     
                     
                     
                </div>
            </div>
        </div>
    </div>
    </div>     